<!-- make current temp, high, low available -->
<div style="padding-top:20px" class="row">
    <div class="column"></div>
     <% if @current %>
        <div class="column">
            <div class="row">
                <div class="column">
                    <p style="font-size:40pt;margin-bottom: 10px;">
                        <%= "#{@current['current_temp']}" %>&deg;
                    </p>
                    <%= "#{@max}" %>&deg;/
                    <%= "#{@min}" %>&deg;<br>
                </div>
                <div class="column">
                     <%= image_tag @current['icon'], alt: "weather icon", width: '200' %> 
                </div>
            </div>

            <div>
                <%= link_to search_path, { style: "font-size: 18pt; font-weight: bold;"} do %>
                    <%= image_tag("location_pin.png", alt: "location pin", height: '25', width: '25') %>
                        Columbus
                <% end %>
                <%#= link_to "Columbus", search_path, class: "a-primary" %>
            </div>
        </div>
    <% end %>
 
    <div class="column"></div>
<!-- hourly temps -->
</div>
  <div class="row">
        <% @hourly_temp.take(7).each do |hourly| %> 
            <div class="column_7">
                <div style="position: relative;top: 10px;">
                    <%= image_tag(weather_icon(hourly["weather"].first["icon"]), alt: "weather icon") %>
                </div>
                <div>
                    <%= convert_temp(hourly["temp"])%>&deg; <! -- 298.82 -->
                </div>
                <div style="padding-top: 0.5em;">
                    <%= Time.at(hourly["dt"]).strftime("%l %P")%>
                </div>
            </div>                                 
        <% end %>
   </div>

  
    <div style="margin: 30px;">
        <table>
            <% @daily.take(8).each_with_index do |day, index| %>
            <% next if index == 0%>
                <tr>
                    <td style="width: 99%">
                        <% if index ==1 %> 
                            Tomorrow
                        <% else %>
                        <%= Time.at(day["dt"]).strftime("%A")%>
                        <% end %>
                    </td>
                    <td>
                        <%= image_tag(weather_icon(day["weather"].first["icon"]), alt: "weather icon") %>
                    </td>
                    <td>
                        <%= "#{day['day_temp']}" %>
                        <%= convert_temp(day["temp"]["max"]) %>&deg;/<%= convert_temp(day["temp"]["min"]) %>&deg;
                    </td>
                </tr>
            <% end %>
        </table>
    </div>             
   
<!-- no output so no need for = -->
<!-- @hourly_temp is where we dump hourly json data 


